<?xml version="1.0"?>
<launch>
	<group ns="robot5">
		<include file="$(find coop_pkg)/launch/robot_node.launch">
			<arg name="_ns" value="robot5/"/>
			<arg name="_name" value="robotname5"/>
			<arg name="_id" value="116"/>
			<arg name="_busy" value="false"/>
			<arg name="_skill_level_0" value="6"/>
			<arg name="_skill_resource_id_0" value="111"/>
			<arg name="_skill_resource_name_0" value="velocidade"/>
			<arg name="_skill_resource_description_0" value="velocidade do robo"/>
			<arg name="_skill_level_1" value="4"/>
			<arg name="_skill_resource_id_1" value="113"/>
			<arg name="_skill_resource_name_1" value="inteligencia"/>
			<arg name="_skill_resource_description_1" value="capacidade do robo de realizar tarefas interagindo com outros robos"/>
		</include>
	</group>
</launch>
