<?xml version="1.0"?>
<launch>
	<group ns="robot7">
		<include file="$(find coop_pkg)/launch/robot_node.launch">
			<arg name="_ns" value="robot7/"/>
			<arg name="_name" value="robotname7"/>
			<arg name="_id" value="118"/>
			<arg name="_busy" value="false"/>
			<arg name="_skill_level_0" value="10"/>
			<arg name="_skill_resource_id_0" value="111"/>
			<arg name="_skill_resource_name_0" value="velocidade"/>
			<arg name="_skill_resource_description_0" value="velocidade do robo"/>
			<arg name="_skill_level_1" value="10"/>
			<arg name="_skill_resource_id_1" value="112"/>
			<arg name="_skill_resource_name_1" value="forca"/>
			<arg name="_skill_resource_description_1" value="capacidade do robo de empurrar objetos"/>
			<arg name="_skill_level_2" value="10"/>
			<arg name="_skill_resource_id_2" value="113"/>
			<arg name="_skill_resource_name_2" value="inteligencia"/>
			<arg name="_skill_resource_description_2" value="capacidade do robo de realizar tarefas interagindo com outros robos"/>
			<arg name="_skill_level_3" value="10"/>
			<arg name="_skill_resource_id_3" value="114"/>
			<arg name="_skill_resource_name_3" value="visao"/>
			<arg name="_skill_resource_description_3" value="capacidade do robo de enxergar atraves de cameras"/>
		</include>
	</group>
</launch>
